<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SessionWarning" value="25" />

    <add key="token" value="vIIijw8Fnz9hkvORgxOS29BD4nE8m6Iixf4DLcOjstEoTTHx4bGQ_xCuexK"/>
    <add key="payment_amt" value="1"/>

    <add key="returnURL" value="http://mail2lead.infobyd.com/Checkout/CheckoutReview.aspx"/>
    <add key="cancelURL" value="http://mail2lead.infobyd.com/Checkout/CheckoutCancel.aspx"/>
    <add key="PaymentName" value="Mail 2 Lead Subscription"/>
    <add key="BrandName" value="Mail Subscription By Infobyd"/>

    <add key="APIUsername" value="team_api1.wagmob.com" />
    <add key="APIPassword" value="Y36NDF9MWLNB2CHF"/>
    <add key="APISignature" value="AUZLI79-mKMpc5.8x8Ahbu3GIVEMAU3EYOgGwkYSifgj2t8ZYah.QIxo"/>


  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="SERVER=182.50.133.85; DATABASE=infobyd_mail; UID=mailAdmin; PASSWORD=1Indore*" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="frmError.aspx"/>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>

    <trust level="Full"/>
    <!--<machineKey validationKey="JFDSGOIEURTJKTREKOIRUWTKLRJTKUROIUFLKSIOSUGOIFDS..." decryptionKey="KAJDFOIAUOILKER534095U43098435H43OI5098479854" validation="SHA1" />-->
    <machineKey validationKey="52B3217F9A9F7B8CE24DEFBD3EDF2B698E37B2ADE33257FAD329A242C11579D0EEDDB67F94CCF27143DCA4BBF9667DDAE78EBEDDD9EABB7C7AB874B5EC443954" decryptionKey="8A3AD1DD400FF3A09F3F5CB27C0411D2E8C7792CE523FD7B" validation="SHA1"/>
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />

    <validation validateIntegratedModeConfiguration="false"/>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>